@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    
}
:root{
    --corlegal:rgb(4, 92, 63);
}
body{
    background-color: rgb(38, 36, 56);
}
header{
    padding: 30px;
    border-bottom: 3px solid var(--corlegal) ;
    background-color: rgba(0, 0, 0, 0.5);
}
.links {
    text-align: center;
}
.links a {
    color: white;
    font-size: 20px;
    line-height: 45px;
    margin: 0 30px;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    opacity: 1;
    transition: 200ms;
    padding: 2px 15px;
    border: var(--corlegal) 1px solid;
    border-radius: 10PX;
    box-shadow: inset 0 0 20PX 0 var(--corlegal), 0 0 3px 0 var(--corlegal);
    text-shadow: 0 0 10px hsl(0, 0%, 100% / 3), 0 0 12px;
    
    
}

.links a:hover {
    color: var(--corlegal);
    font-size: 22px;
    opacity: 0.5;
    transition: 205ms;
    

   
}
section { 
    width: 450px;
    margin: 50px auto;
    
}
.flip{
    perspective: 1000px;
    width: 450px;
    height: 550px;
    border-radius: 100%;
    -webkit-filter: drop-shadow(0px 0px -20px rgba(0 0 0 / 90%)); 
    filter: drop-shadow(0px 10px 55px rgba(0 0 0 / 90%));
    transition: 0.8s;
   
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 3px solid var(--corlegal);
    transition: 0.8s;
    
}
.front img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.8s;
    border-radius: 100%;
    
}

.back{
    text-align: center;
    background-color:rgba(4, 92, 63, 0.575);
    transform: rotateY(-180deg);
    backface-visibility: hidden ;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.8s;
    border-radius: 100%;
    font-family: 'Kanit', sans-serif;
    border: 3px solid rgba(137, 43, 226, 0.356)
    
}
.back h1 {
    font-size: 28px;
    line-height: 38px;
    margin-top: 25%;
    font-weight: bold;
}
.back h2{
    font-size: 21px;
    line-height: 31px;
    margin-top: 8px;
    opacity: 0.85;
    margin-bottom: 8px;
}
.back p{
    max-width: 400px;
    margin: 28px auto;
    font-size: 21px;
    line-height: 31px;
    margin-top: 10%;
    
}
.imglink img{
    width: 30px;
    height: 30px;
    border-style: solid 2px;
    border: 2px solid rgba(137, 43, 226, 0.486);
    border-radius: 50%;
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
    
}
.flip:hover .front {
    transform: rotateY(180deg);
    z-index: 0;

}
.flip:hover .back {
    transform: rotateY(0);
    z-index: 1;
}




    
